.all-blok {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 72px;
  width: 100%;
  height: 100%;
  background-color: white;
}
.form-edit {
  position: relative;
  display: none;
  margin-top: 30px;
  padding: 20px 20px;
  height: fit-content;
  border: 1px solid;
  background-color: rgb(121, 191, 168);
}
.close-form-edit {
  position: absolute;
  top: 0;
  right: 20px;
  border: 0px;
}
.close-form-edit:hover {
  background-color: white;
  color: red;
}

.form-edit-btn {
  margin-top: 10px;
  background-color: white;
  border: 0;
}

.blok-for-posts {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-top: 30px;
  border: 2px solid black;
  background-color: rgb(121, 191, 168);
}
.my-posts-blok {
  position: relative;
  width: 500px;
  height: fit-content;
  background-color: white;
  border: 1px solid;
  margin-bottom: 20px;
  padding: 10px 10px 30px 10px;
}
.date {
  position: absolute;
  bottom: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  border-top: 1px solid;
  padding-top: 5px;
}

.btn-edit-post {
  position: absolute;
  right: 0;
  top: 0;
}

.btn-edit-post:hover {
  background-color: rgb(121, 191, 168);
  color: white;
}

.my-posts-text {
  margin-top: 15px;
  text-align: justify;
}
